
#services {
    margin-top: 60px;
    margin-left: 1.5rem;
}
.our-service{
    text-align: center;
    margin-bottom: 3rem;
}
.our-service p{
    font-size: 45px;
    color: var(--color-text);
}


.delivery{
    display: flex;
    justify-content: space-between;
}
.delivery h1{
    margin-top: 5rem;
    margin-left: 1.5rem;
}
.delivery p{
    margin-top: 10rem;
    font-size: 18px;
}
.delivery img{
    margin-top: 8rem;
}

.payment {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.payment h1{
    margin-top: 5rem;
    margin-left: 1.5rem;
}
.payment p{
    margin-top: 10rem;
    font-size: 18px;
}

.payment img {
    height: 30rem;
    margin-top: 8rem;
}


.gift{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.gift h1 {
    margin-left: 1.5rem;
}

.gift p{
    margin-top: 5rem;
    font-size: 18px;
}
.gift img{
    margin-top: 8rem;
}